body {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    190deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(136, 39, 39, 1) 62%
  );
  background-attachment: fixed;
}
.logotypeMainTwo {
  justify-content: center;
  display: flex;
  align-items: center;
}
